.Header {
  width: 100%;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 50px;
  .logo {
    width: 90px;
  }
  &__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav_wrapper {
  ul {
    list-style: none;
    display: flex;
  }
  li {
    margin-left: 72px;
  }
  a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
}
