.Favorites {
  width: 100%;
  .main__wrapper {
    margin-top: 60px;
    display: flex;
    margin-bottom: 150px;
    &__thumb {
      margin-right: 112px;
      img {
        height: 476px;
      }
    }
    &__content {
      max-width: 460px;
      h3 {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 300;
      }
      span {
        font-size: 30px;
        font-weight: 400;
      }
      p {
        margin-top: 23px;
        font-size: 13px;
        line-height: 25px;
      }
    }
    &__id {
      font-size: 12px;
      color: #cecece;
    }
  }
}
@media only screen and (max-width: 767px) {
  .main__wrapper {
    flex-direction: column;
    .main__wrapper__thumb {
      margin-right: 0px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .main__wrapper {
    .main__wrapper__thumb {
      margin-right: 30px;
    }
    .main__wrapper__content {
      max-width: 290px;
    }
  }
}
